/* Estructura Layout Base */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.contenedor-publico {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #2a9d8f; /* Fondo cian para evitar fugas de color */
}

.sidebar-wrapper {
    width: 10%; /* Ajustado al 10% exacto */
    min-width: 180px; /* Un mínimo para que el texto sea legible */
    flex-shrink: 0;
    height: 100%;
    z-index: 1000;
}

.contenido-principal {
    flex-grow: 1;
    height: 100%;
    background-color: #f4f7f6; /* Fondo gris claro de la zona del plano */
    position: relative;
    overflow: auto; 
}