/* Estructura Layout Base */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

/* El contenedor que abraza el sidebar y el contenido */
.contenedor-publico {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #2a9d8f; /* Fondo cian para que no haya fugas blancas */
}

/* El hueco para el sidebar */
.sidebar-wrapper {
    width: 12%; 
    min-width: 220px; /* Evita que el menú se colapse demasiado */
    flex-shrink: 0;
    height: 100%;
}

/* El hueco para el plano */
.contenido-principal {
    flex-grow: 1;
    height: 100%;
    background-color: #f4f7f6;
    position: relative;
    overflow: auto; 
}